header {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 1250px;
}

header .container {
    display: flex;
    gap: 200px;
    padding-top: 70px;
}

.logo {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 1.5px;
    font-size: em;
}


header .container nav ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: nowrap;
    text-transform: uppercase;
    list-style-type: none;
}    