/* hero */
.hero {
    background-image: linear-gradient(rgba(95, 55, 30, 0.2), rgba(82, 49, 29, 0.3)), url("../assets/hero.png");
    background-repeat: no-repeat;
    background-position: 50%;
    width: auto;
    height: 800px;
    background-size: cover;
    display: flex;
    align-items: center;
}

.hero .container {
    text-align: center;
    margin: 0 auto 6.25em;
}

.hero .container h1 {
    color: #ffffff;
    font-size: 3em;
    margin-bottom: 0.5em;
}


.hero .container h2 {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 0.5em;
}