@import "footer.css";
@import "learn-more.css";
@import "main.css";
@import "hero.css";
@import "header.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

body {
    margin: 0px auto;
    max-width: 1250px;
}