/* main */
.main {
    background-color: #EEEEEE;
    background-size: cover;
    width: auto;
    height: auto;
    padding-top: 3em;
    padding-bottom: 5em;
    text-align: center;
}

.main .container {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    padding-bottom: 3em;
    max-width: 100%;
}

.main h2 {
    color: #000000;
    margin-bottom: 0.5em;
    font-size: 2.5em;
    font-weight: bold;
}

.main h3 {
    color: #666666;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.main p {
    margin-bottom: 1.5em;
    text-align: left;
}

.main button {
    background-color: #55C2D8;
    color: #ffffff;
    padding: 15px 40px 15px 40px;
    border-radius: 50px;
    font-size: small;
    text-transform: uppercase;
    border-color: transparent;
}